:root{
    --black: #000000;
    --primary: #00000029;
    --grey: #A5A5A5;
    --white: #FFFFFF;
    --primary-color: #08A6E4;
    --blue-1: #07ACE6;
    --blue-2: #07ACE629;
    --primary-shadow: rgba(7, 172, 230, .16);
    --pink-1: #FB3B64;

    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway" , sans-serif;
}
*{
    box-sizing: border-box;
}

body{
    font-family: var(--font-open-sans);
}

a{
    text-decoration: none;
}
